%p Thanks for signing up #{@subscriber.name}

%p We will deliver your compost bin to your door as soon as possible and then begin pickup on the next normal pickup day, Monday or Friday depending on your plan.

%h4 What items are compostable?

%p Basically anything organic. Dartmouth has an industrial composter that takes virtually anything:
%ul
  %li meat
  %li food scraps of any kind
  %li paper (you probably should recycle good paper, and compost other paper that is dirty or wet or whatever, like paper towels)
  %li tissues
  %li those compostable utensil things DDS gives out
  %li etc...
  
%p If you have any other questions don't hesitate to contact us
%p doscompost@gmail.com

%p or checkout:

=link_to "About Dos Compost", "https://www.doscompost.com/about"