#about
  %h1 About
  %h4 comments, questions, criticisms, concerns? blitz me. brian.joseff
  %p Composting isn't just for unwashed hippies.
  %p I just googled "benefits of composting" and the epa gave me these wonderful tidbits:
  %ul
    %li compost enriches soil (dartmouth uses our compost to enrich the soil)
    %li compost remediates contaminated soil (absorbs bad stuff, like VOCs, PAHs, pesticides and explosives)
    %li compost helps prevent pollution (landfills produce methane, among other things)
    %li=link_to "the epa's list", "http://www.epa.gov/osw/conserve/rrr/composting/benefits.htm"
  %p I would like to add to the list:
  %ul
    %li smelly food scraps out of your garbage
    %li don't have to take out garbage as often because it won't smell, and it won't get filled as fast
    %li Composting is remarkably satisfying. My thought process as I throw something in the compost is along the lines of, "it sort of sucks that I am a significant contributor to all sorts of environmental issues because I like eating steak, driving, buying things and generally living my first-world life, but hey, I am composting this banana peel and reducing my waste output."
    %li These compost bins really don't smell, it's infinitely better than having food stuff rotting in your trash can. Plus I am dealing with cleaning it up. Not you.
    %li and finally, like the epa says, composting is a tangible, actual step you can take to live a more "sustainable" life