%h1 Frequently Asked Questions

%h4 What the blazes is this?

%p We will give you a metal, odor-less compost bin and you put your compostable items in it, and we will come by and pick it up, then dispose of it for you.
%p Obviously, this is appeals to a fairly small niche, but we believe that Dartmouth has a significant cohort of students that are particularly attuned to issues of sustainability and being pro-active, and committed to their ideals, are willing to do anything they can to live a more sustainable lifestyle.
%p We also think that the benefits of composting that transcend mere sustainability make this service appealing enough to snag some users who are just looking for less smelly rooms and whatnot.

%h4 What items are compostable?

%p Basically anything organic. Dartmouth has an industrial composter that takes virtually anything:
%ul
  %li meat
  %li food scraps of any kind
  %li paper (you probably should recycle good paper, and other paper that is dirty or wet or whatever, like paper towels)
  %li tissues
  %li those compostable utensil things DDS gives out
  %li etc...

%h4 Why should I compost?

%ul
  %li you're putting less crap in landfills
  %li if that doesn't get you going, composting can eliminate smelly stuff from your garbage making for a more appealing dorm room atmosphere. Members of the opposite sex usually dig that sort of thing.
  %li decrease your green-house gas footprint
  %li you don't have to take your trash out as often because it won't be filled with compostables. And we come straight to your door to pick the compost up.

