#form_image=image_tag("compostbin.jpg", :alt => "groupie")
%p This is the Norpro 1 Gallon Stainless Steel Compost bin. We have been using it since last winter and it works great. There is no odor, and it is easily washable. It is $33.79 on Amazon, the cheapest price available, but we can get it, just for you, for $28. If you already have a bin, click the check box below.</p>